$blue: #81add6;
$gray: #bfbfbf;

@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    margin: 60px;
    font-family: Roboto;
}

wc-datepicker {
    width: 100%;
    position: relative;
    
    &:not([opened]) {
        .calendar-body {
            opacity: 0;
        }
    }
}

.launcher {
    cursor: pointer;
    height: 30px;
    font-size: 16px;
    padding-left: 4px;
    background-color: #fff;
    border: 1px solid $gray;

    display: flex;
    align-items: center;
}

.calendar-body {
    outline: none;
    transition: 300ms;
    width: 300px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 5px 1px #b2dbea;
    
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.context-display {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    height: 60px;

    font-size: 20px;
    font-weight: 900;
}

.month {
    cursor: pointer;
    width: 0;
    height: 0;
    padding: 0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: none;
    border-right: none;
    background: transparent;
    
    &-previous {
        margin-left: 20px;
        border-right: 13px solid $gray;
    }
    
    &-next {
        margin-right: 20px;
        border-left: 13px solid $gray;
    }
}

.days-container {
    width: 100%;
    padding: 0 15px 5px 15px;

    display: grid;
    grid-gap: 10px;
    grid-template-rows: repeat(7, 30px);
    grid-template-columns: repeat(7, 30px);
}

.day {
    @include noselect;
    transition: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;

    &[disabled] {
        color: lighten($gray, 18%);
        pointer-events: none;
    }

    &[distant] {
        color: lighten($gray, 14%);
    }

    &[selected] {
        background: $blue;
        color: #fff;

        &:hover {
            background: darken($blue, 15%);
        }
    }

    &:hover {
        background: lighten($blue, 23%);
        transition: 250ms;
    }

    &-of-week {
        cursor: default;
        color: $gray;
    }
}