body {
    margin: 60px;
}

.calendar-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.days-container {
    width: 100%;
    padding: 10px 10px 20px 10px;
    
    display: grid;
    grid-gap: 5px;
    grid-template-rows: 20px repeat(6, 15px);
    grid-template-columns: repeat(7, auto);
}

.day {
    cursor: pointer;

    &[selected] {
        background: green;
        border-radius: 100%;
    }
}

wc-datepicker {
    display: block;
    width: 200px;
    
    .launcher {
        height: 40px;
        background-color: #def;
        border: 1px solid #000;
    }

    &:not([opened]) {
        .calendar-body {
            display: none;
        }
    }
}

.day, .day-of-week {
    display: flex;
    justify-content: center;
}